<% unless curation_concern.persisted? %>
  <div class="row with-headroom">
    <div class="span12">
      <fieldset id="work-contents">
        <legend>
          Add Your File
        </legend>

        <p class="help-block">
          The content of your <%= curation_concern.human_readable_type.downcase %> can be a file, a URL, or a remote file from a cloud service.
        </p>

        <ul id=tabs class="nav nav-tabs" data-tabs="tabs">
          <li class="active"><a href="#file" data-toggle="tab">Upload a file</a></li>
          <li><a href="#link" data-toggle="tab">External Link</a></li>
          <li><a href="#cloud" data-toggle="tab">Cloud file</a></li>
        </ul>

        <div id="my-tab-content" class="tab-content">
          <div class="tab-pane active" id="file">
            <fieldset>
              <legend class="accessible-hidden">Upload a file</legend>
              <%= f.input :files, as: :file, input_html: { multiple: true }, label: 'Upload a file', hint: "Hold Shift or Command to select multiple files" %>
            </fieldset>
          </div>

          <div class="tab-pane" id="link">
            <fieldset>
              <legend class="accessible-hidden">Add an external link</legend>
              <%= f.input :linked_resource_urls, label: "External link", input_html: {class: 'input-xlarge'} %>
            </fieldset>
          </div>

          <div class="tab-pane" id="cloud">
            <fieldset>
              <legend class="accessible-hidden">Upload a remote file</legend>
              <p id="status"></p>
              <%= hidden_field_tag :cloud_resource_urls, nil, class: 'cloud_resource' %>
              <%= button_tag("Click here to upload remote files", type: 'button', class: 'btn btn-large btn-success', id: "browse",
                 'data-toggle' => 'browse-everything', 'data-route' => browse_everything_engine.root_path,
                 'data-target' => ".cloud_resource" ) %>
            </fieldset>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
<% end %>
